body {
    font-family: Arial, sans-serif;
    background-color: var(--background-light);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-light);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
}



#story{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    box-sizing: border-box;
    text-align: center; 
}

.box {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; 
    text-align: left;
}

#options-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#options-container button:hover {
    background-color: #45a049;
}

.option-button {
    display: block;
    margin-bottom: 5px; 
}

.dark-mode {
    background-color: #222; 
    color: #fff; 
}


body.dark-mode #story {
    background-color: #222; 
    color: #fff; 
}

body.dark-mode button {
    background-color: #333; 
    color: #fff; 
    border: 2px solid #fff; 
}

body.dark-mode button:hover {
    background-color: #555;
}

